body {
    font-family: Poppins, sans-serif;
}

.sold-items,
.bought-items {
    font-weight: 600;
}

.sold-items {
    color: #2ab22a;
}

.bought-items {
    color: blue;
}

.inventory {
    color: red;
}